<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header id="main-header">
      <img id="brand" src="/images/logo.svg" alt="" />
      <form action="/" method="get">
        <input type="text" />
        <button>
          <span class="fa-solid fa-search"></span>
        </button>
      </form>
      <p>Lorem ipsum dolor sit amet. <span class="fa-solid fa-smile"></span></p>
      <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/">Productos</a>
        <a href="/"><span class="fa-solid fa-shopping-cart"></span></a>
      </nav>
    </header>
    <main>
      <section>
        <h2>Productos</h2>
        <article class="product">
          <img class="product__image" src="/images/funko.png" alt="" />
          <section class="product__content">
            <span class="fa-solid fa-star product__icon"></span>
            <p class="product__data">
              <span>Precio</span><span>Descuento</span>
            </p>
            <p class="product__title">Nombre del Producto</p>
          </section>
        </article>
        <article class="product">
          <img class="product__image" src="/images/funko.png" alt="" />
          <section class="product__content">
            <span class="fa-solid fa-star product__icon"></span>
            <p class="product__data">
              <span>Precio</span><span>Descuento</span>
            </p>
            <p class="product__title">Nombre del Producto</p>
          </section>
        </article>
        <article class="product">
          <img class="product__image" src="/images/funko.png" alt="" />
          <section class="product__content">
            <span class="fa-solid fa-star product__icon"></span>
            <p class="product__data">
              <span>Precio</span><span>Descuento</span>
            </p>
            <p class="product__title">Nombre del Producto</p>
          </section>
        </article>
        <article class="product">
          <img class="product__image" src="/images/funko.png" alt="" />
          <section class="product__content">
            <span class="fa-solid fa-star product__icon"></span>
            <p class="product__data">
              <span>Precio</span><span>Descuento</span>
            </p>
            <p class="product__title">Nombre del Producto</p>
          </section>
        </article>
      </section>
    </main>
  </body>
</html>
