<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <header id="main-header">
      <img id="brand" src="/images/logo.svg" alt="" />
      <form action="/" method="get">
        <input type="text" />
        <button>
          <span class="fa-solid fa-search"></span>
        </button>
      </form>
      <p>Lorem ipsum dolor sit amet. <span class="fa-solid fa-smile"></span></p>
      <nav>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/">Productos</a>
        <a href="/"><span class="fa-solid fa-shopping-cart"></span></a>
      </nav>
    </header>
    <main>
      <h1>Login</h1>
      <form action="/" method="post">
        <fieldset>
          <label for="user">User</label>
          <input class="campo" type="text" id="User" />
        </fieldset>
        <fieldset>
          <label for="password">Password</label>
          <input class="campo" type="password" id="password" />
        </fieldset>
        <fieldset>
          <input type="checkbox" id="remember" />
          <label for="remember">Remember</label>
        </fieldset>
        <button>access</button>
      </form>
    </main>
  </body>
</html>
